@{
    ViewData["Title"] = "About";
}
<h1>About SoundSharp</h1>

<div class="row" style="margin-top:100px">
    <div class="col-4">
        <img src="~/team.jpg" class="img-fluid" />
    </div>
    <div class="col-8">
        <p>
            SoundSharp is een middelgrote handelsonderneming die in 1999 is opgericht door de huidige
            directrice Melanie Hendrikse. Vanaf het begin heeft SoundSharp zich gespecialiseerd in de verkoop
            van kwalitatief hoogstaande draagbare audioapparatuur. In het beginstadium werden voornamelijk
            walkmans, memorecorders en CD-Discmans van gerenommeerde merken verkocht. De laatste jaren
            wordt de markt voor draagbare audioapparatuur gedomineerd door mp3 spelers.<br />
            Inmiddels bestaat SoundSharp uit 12 medewerkers met een gemiddelde leeftijd van 36 jaar. <br />
            Binnen SoundSharp bestaan de afdelingen: Financiën, Inkoop/Verkoop en Technische support.<br />
            De dagelijkse gang van zaken wordt wekelijks besproken in het management team dat aangestuurd wordt door Melanie.
        </p>
    </div>
</div>
