@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <div class="text-center">
        <h1 class="display-4">Welcome @@SoundSharp</h1>
        
    </div>
</div>
<div class="row">
    <div class="col-5">
        <img src="~/ipod.png" class="img-fluid" style="width:90%" />
    </div>
    <div class="col-7">
        <img src="~/OIP.jpg" class="img-fluid" style="width:90%" />
    </div>
</div>
